<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{curr_title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{#theme_url}}assets/css/main.css{{/theme_url}}" />
    {{>head}}
  </head>
  <body>
    {{>content}}
  </body>
</html>
