<!-- page content partial -->

<div id="header">
  <div class="top">
    <div class="container">
      <a href="/">
        <img src="{{#theme_url}}assets/img/alven_logotype.png{{/theme_url}}" alt="Alven logotype"/>
      </a>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      {{>main_nav}}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      {{{curr_page.body}}}
    </div>
  </div>
</div>
